@import "variables";

@mixin media($breakpoint) {
  @if type-of($breakpoint) == number {
    @media (max-width: $breakpoint) { @content; }
  } @else if $breakpoint == xl {
    @media (max-width: $media-max-width-xl) { @content; }
  } @else if $breakpoint == l {
    @media (max-width: $media-max-width-l) { @content; }
  } @else if $breakpoint == m {
    @media (max-width: $media-max-width-m) { @content; }
  } @else if $breakpoint == s {
    @media (max-width: $media-max-width-s) { @content; }
  } @else {
    @error "Unknown breakpoint:" $breakpoint;
  }
}

@mixin reset-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
