$tf-1: Arial, sans-serif !default;

$media-max-width-xl: 1440px + 30px !default;
$media-max-width-l: 1176px + 30px !default;
$media-max-width-m: 1008px - 1px !default;
$media-max-width-s: 768px - 1px !default;
