@import "mixins";
@import "variables";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-family: $tf-1;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.25;
  color: #000;
  background-color: #fff;

  &.mobile {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
}

a {
  color: #000;

  body:not(.mobile) &:hover {
    text-decoration: none;
  }
}

::-webkit-input-placeholder { color: #000; opacity: 1; }
::-moz-placeholder { color: #000; opacity: 1; }
:-moz-placeholder { color: #000; opacity: 1; }
:-ms-input-placeholder { color: #000; opacity: 1; }
:placeholder-shown { color: #000;	opacity: 1; }

.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include media(xl) {
    width: 1176px;
  }

  @include media(l) {
    width: 984px;
  }

  @include media(m) {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
