@import "../general/mixins";
@import "../general/variables";

.back-to-top {
  position: fixed;
  z-index: 990;
  right: 15px;
  bottom: 15px;
  width: 42px;
  height: 42px;
  font-size: 0;
  background-color: gray;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;

  @include media(m) {
    right: 10px;
    bottom: 10px;
  }

  @include media(s) {
    width: 36px;
    height: 36px;
  }

  body:not(.mobile) &:hover {
    background-color: darken(gray, 8%);
  }

  body:not(.mobile) &:active {
    background-color: darken(gray, 14%);
  }

  &.visible {
    visibility: visible;
    opacity: 1;

    @media print {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background: url("../../images/icons/other/svg/arrow-top-white.svg") no-repeat center center;
    background-size: contain;

    @include media(s) {
      width: 12px;
      height: 12px;
    }
  }
}
