@import "../general/mixins";
@import "../general/variables";

.field {

  &--error {

    & .field__error {
      display: block;
    }
  }

  &__label {

  }

  &__element {
    display: block;
    font-family: $tf-1;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.25;
    text-align: left;
    color: red;

    & input,
    & textarea {
      display: block;
      width: 100%;
      margin: 0;
      padding: 10px;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      text-align: inherit;
      color: inherit;
      border: 0;
      outline: 0;
      border-radius: 0;
      background-color: #fff;
      box-shadow: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      resize: none;

      &::-ms-expand {
        display: none;
      }
    }

    & textarea {
      height: 100px;
    }
  }

  &__placeholder {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: text;
    transition: 0.2s;

    &.active {
      bottom: 58%;
      font-size: 12px;
      opacity: 0.8;
    }
  }

  &__error {
    display: none;
    margin-top: 2px;
    font-size: 12px;

    & span {
      display: inline-block;
      vertical-align: top;
      padding: 6px 12px;
      border-radius: 5px;
      color: #fff;
      background-color: red;
    }
  }
}
