@import "../general/variables";

.pop-up {
  position: fixed;
  z-index: 1100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;

    &::after {
      visibility: visible;
      opacity: 0.8;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
  }

  &::after {
    content: "";
    position: fixed;
    z-index: -1;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    background: #000;
    cursor: pointer;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
  }

  &.loading {

    &::before {
      visibility: visible;
      opacity: 0.7;
    }
  }

  .mobile & {
    display: none;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }

    &.active {
      display: block;

      &::after {
        display: block;
      }
    }

    &.loading {

      &::before {
        display: block;
      }
    }
  }

  &__insides {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 80px 60px;
    text-align: left;
    background-color: #fff;
  }

  &__close {

  }
}

@keyframes pulse {

  0% {
    width: 120px;
    height: 120px;
    opacity: 0.7;
  }

  50% {
    width: 80px;
    height: 80px;
    opacity: 0.4;
  }

  100% {
    width: 120px;
    height: 120px;
    opacity: 0.7;
  }
}
